p.switch-sign
  ul.nav.nav-pills.justify-content-center
    li.nav-item
      span#signin-tab.a.nav-link.active(href="#") 登录
    li.nav-item
      span#signup-tab.a.nav-link.active(href="#") 注册
#signup.row.clearfix.signup-form
  .col-md-12.column
    h3.signup-h3 用户注册
    form#register_form(action='/user/signup', method='post')
      .form-group
        label(for="register_username") 用户名
        input#register_username.form-control(name='username', data-toggle='tooltip-input', data-trigger='focus', data-placement='top', title='用户名为6~18位英文字母、数字或下划线，必须以英文字母开头', type='text', placeholder='用户名', maxlength='18', value=user.username)
      p#register_err_username.error!= register_error.username
      .form-group
        label(for="register_email") 邮箱
        input#register_email.form-control(name='email', data-toggle='tooltip-input', data-trigger='focus', type='email', data-placement='top', title='请填写您常用的邮箱', placeholder='邮箱', value=user.email)
      p#register_err_email.error!= register_error.email
      .form-group
        label(for="register_password") 密码
        input#register_password.form-control(name='password', data-toggle='tooltip-input', data-trigger='focus', data-placement='top', title='密码为6~12位数字、大小写字母、中划线、下划线', type='password', placeholder='密码', maxlength='12', value='')
      p#register_err_password.error!= register_error.password
      .form-group
        label(for="register_repeatpass") 重复密码
        input#register_repeatpass.form-control(name='repeatpass', data-toggle='tooltip-input', data-trigger='focus', data-placement='top', title='请输入和前面相同的密码', type='password', placeholder='重复密码', maxlength='12', value='')
      p#register_err_repeatpass.error!= register_error.repeatpass
      button#register_reset.btn.btn-light.sign(type='reset') 重置
      button#register.btn.btn-light.sign(type='submit') 注册
#signin.row.clearfix.signup-form
  .col-md-12.column
    h3.signup-h3 用户登录
    form#login_form(action='/user/signin', method='post')
      .form-group
        label(for="Login_username") 用户名
        input#login_username.form-control(name='username', type='text', placeholder='用户名', maxlength='18', value=user.username)
      p#login_err_username.error!= login_error.username
      .form-group
        label(for="Login_password") 密码
        input#login_password.form-control(name='password', type='password', placeholder='密码', maxlength='12', value='')
      p#login_err_password.error!= login_error.password
      button#login_reset.btn.btn-light.sign(type='reset') 重置
      button#login.btn.btn-light.sign(type='submit') 登录